.background-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.center-image {
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
}



footer {
  font-size: 50%;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.5; }
}
.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 800ms;
}


